<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>THURS : 01</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body style="background:#eaeaea; margin: 0; padding: 0">
    <h2>Thursday test : 01</h2>
    <canvas id="canvas" width="800" height="400" style="background:white"></canvas>
</body>
<script type="text/javascript">

var prevX = 0;
var prevY = 0;
var currX = 0;
var currY = 0;

var socket = io.connect('http://' + document.domain + ':' + location.port + "/eq");

socket.on('connect', function() {
    console.log('connected');
});

socket.on('system_ready', function(data) {
    console.log("system status: " + data.status);
});


function onMouseMove(e) {
    var currX = e.clientX - canvas.offsetLeft;
    var currY = e.clientY - canvas.offsetTop;
    var foo = { currX, currY };
    socket.emit("point_submit", {data: foo })
}

socket.on('point_returned', function(data) {
    prevX = currX;
    prevY = currY;
    currX = data.new_line.data.currX;
    currY = data.new_line.data.currY;
    draw();
});

function draw()
{
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(currX, currY);
    ctx.strokeStyle = "red";
    ctx.lineWidth = "3";
    ctx.stroke();
    ctx.closePath();
}

var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");

canvas.addEventListener("mousemove", onMouseMove);


</script>
</html>